.full-width-media {
  display: block;
  margin: $space-l 0;
  width: 100%;

  .title-area {
    h2 {
      margin: $space-s 0;
      max-width: calc(100vw * 2 / 3);
    }
  }

  .media-container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    //position: relative;
    &:before {
      display: block;
      content: "";
      grid-area: 1 / 1 / 2 / 2;
      width: 100%;
      padding-top: calc(9 / 16) * 100%;
    }

    &.center > * {
      margin: 0 auto;
    }

    &.left > * {
      margin: 0 auto 0 0;
    }

    &.right > * {
      margin: 0 0 0 auto;
    }

    > img, > iframe, > video {
      border-radius: $border-radius;
      bottom: 0;
      grid-area: 1 / 1 / 2 / 2;
      height: 100%;
      left: 0;
      margin: 0 auto;
      right: 0;
      top: 0;
      max-width: 100%;
      width: auto;
    }

    > iframe, video {
      height: 100%;
      width: 100%;
    }
  }

  .notes-area {
    grid-area: 3 / 1 / 4 / 2;
    margin: $space-s 0;

    &.left {
      text-align: left;
    }

    &.right {
      text-align: right;
    }
  }
}