@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Source+Code+Pro:ital,wght@0,300;0,500;1,300;1,500&display=swap');

body {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin: $space-xs 0;
}

p {
  margin: $space-2xs 0;
}

.heading {
  //background-color: $black;
  color: $black;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 0.07em;
  line-height: 1.6;
}

.body {
  font-size: $step--1;
}

.sidenote {
  font-size: $step--2;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.step-5 {
  font-size: $step-5;
}

.step-4 {
  font-size: $step-4;
}

.step-3 {
  font-size: $step-3;
}

.step-2 {
  font-size: $step-2;
}

.step-1 {
  font-size: $step-1;
}

.step-0 {
  font-size: $step-0;
}

.step--1 {
  font-size: $step--1;
}

.step--2 {
  font-size: $step--2;
}